#collection {
    /* background: var(--dark-color); */
    padding: 10rem 0;
}

.collection__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.collection__box {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4fr 1fr;
    gap: 2rem;
    background: var(--primary-color);
    border-radius: var(--border-raduis-3xl);
    padding: 20px;
    /* width: 60rem; */
}

.collection__img--box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.collection__img {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    border-radius: var(--border-raduis-md);
    transition: 0.4s;
}

.collection__img:nth-child(1) {
    width: 20rem;
    grid-column: span 3;
}

.collection__img:nth-child(2) {
    width: 20rem;
    grid-column: span 3;
}

.collection__img:nth-child(3), .collection__img:nth-child(4), .collection__img:nth-child(5){
    grid-column: span 2;
}

.collection__img:hover {
    opacity: 0.7;
}

.collection__content{
    display: grid;
    grid-template-columns: 1fr 3.5fr 1fr;
}

.collection__content img {
    width: 6rem;
    border-radius: var(--border-raduis-lg);
}

.collection__content p:nth-child(1) {
    padding-top: 0.5rem;
}

.collection__content p:nth-child(2) span {
    font-size: 1.3rem;
        font-weight: 100
}

.collection__like {
    background: var(--tertiary-color);
    width: 7rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    border-radius: var(--border-raduis-md);
}