#hero {
    min-height: 88vh;
}

.hero__wrapper {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero__left--item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    /* flex: 50% */
}

.hero__left--item h1 {
    font-size: var(--font-size-4xl);
    line-height: 9rem;
}

.hero__left--item p {
    font-size: 2rem;
    font-family: 'Urbanist', sans-serif;
}

.left--item__demo {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.hero__btn {
    font-size: 2rem;
    padding: 15px 40px;
    margin: 0 1rem;
}

.hero__img--box {
    position: relative;
    min-height: 60rem;
}

.hero__img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    left: 10rem;
}

.hero__img--one {
    left: 24rem;
    width: 30rem;
    z-index: 2
}

.hero__img--two {
    top: 18rem;
    z-index: 1;
    left: 24rem;
    animation: myOrbit 4s linear infinite;
}

.hero__img--four {
        top: 26rem;
        left: 60rem;
}

.hero__img--five {
        top: 10rem;
        left: 54rem;
}

.hero__img--six {
        top: 10rem;
        left: 18rem;
}

.hero__img--seven {
        top: 17rem;
        left: 56rem;
        border: 3px solid #5142FB;
        border-radius: 50%;
        padding:0.6rem;
}

.hero__img--eight {
        top: 18rem;
        left: 12rem;
}

.hero__img--nine {
        top: 25rem;
        left: 20rem;
        animation: zoom-fade 1s linear infinite;
}

.hero__img--ten {
        top: 33rem;
        left: 17rem;
        animation: zoom-fade 1s linear infinite;
}

.hero__img--eleven {
        top: 30rem;
        left: 25rem;
        animation: zoom-fade 1s linear infinite;
}

.hero__img--twelve {
        top: 28rem;
        left: 52rem;
        animation: zoom-fade 1s linear infinite;
}

.hero__img--thirteen {
        top: 29rem;
        left: 54rem;
}

.hero__img--fourteen {
        top: 38rem;
        left: 50rem;
}

.hero__img--fiveteen {
        top: 42rem;
        left: 23rem;
            animation: zoom-fade 1s linear infinite;
}

.hero__img--sixteen {
        top: 45rem;
        left: 32rem;
            animation: zoom-fade 1s linear infinite;
}

.hero__img--seventeen{
        top: 5rem;
        left: 48rem;
            animation: zoom-fade 1s linear infinite;
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(220px) rotate(0deg);}
    
    to   { transform: rotate(360deg) translateX(220px) rotate(-360deg); }
}

@keyframes zoom-fade {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    50% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}